@import './variables/global.scss';

@import './theme/light.scss';
@import './theme/dark.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;

  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.layoutWrapper {
  display: flex;
}

.pageWrapper {
  display: flex;
}